body {margin:0;}

.button-container {
  position: absolute;
}

.button-container-inner {
  position: inline-block;
  float: left;
}

.button-square {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}